<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaper fra Id</title>
</head>
<body>

<h2>Vaper fra Id 2</h2>
Id: {{ vap.Id }}<br>
Navn: {{ vap.Navn }}<br>
Aroma: {{ vap.Aroma }}<br>
Effekt: {{ vap.Effekt }}<br>
Butik: {{ vap.Butik }}<br>
Uge: {{ vap.Uge }}<br>
<br>

</body>
</html>